body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 900;
    font-size: large;
}

.gradient-text {
    background: linear-gradient(to bottom, #fff2bd,#e2ff81, #90e5fffb );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.nav-links{
    padding: 20px;
    text-decoration: none;
    color: rgba(103, 102, 102, 0.839);
}

.jumbotron{
    background: #223955;
    color: white;
}
